body {
    background: linear-gradient(to right, #55a246, #70ca94, #a3f0d8);
    font-family: Arial, serif;
    margin: 10;
    padding: 25px;
}
  
header {
    text-align: center;
    padding: 20px 0;
}
  
 h1 {
    font-weight: bold;
    margin: 0;
}
  
h2, h3 {
    font-weight: bold;
}
  
.container {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}
  
.row {
    display:  flex;
    flex-wrap:  wrap;
    gap: 25px;
}
  
.col-1 {
    flex:  1;
    min-width:  300px;
}
  
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-top: 100px;
}
  
.btn {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;
}
  
.btn-outline-primary {
    border: 2px  solid #0d6efd;
    color: #0d6efd;
}
  
.btn-outline-danger {
    border: 2px  solid #dc3545;
    color: #dc3545;
}

.listados{
    text-align: center;
    padding: 20px 0;
}
  
.list-container {
    margin-top: 20px;
}
  
ol {
    list-style-type: decimal;
    padding-left: 20px;
}
  
ul {
    list-style-type: disc;
    padding-left: 20px;
}
  
li {
    margin-bottom: 8px;
    padding: 8px;
    background: #9abfc5;
    border-radius: 4px;
}
  
@media (max-width: 768px) {
    .row {
      flex-direction: column;
}
}